@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
	background-color: #d4e8f3; /* Light blue background */
	background-image: linear-gradient(#ffffff 1px, transparent 1px), linear-gradient(90deg, #ffffff 1px, transparent 1px);
	background-size: 40px 40px; /* Size of the grid cells */
  }
  